---
import PostEntry from "@/components/PostEntry.astro"
import { GITHUB_LINK } from "@/constants"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { SEO } from "astro-seo"
import { getCollection } from "astro:content"

const posts = await getCollection("posts").then((result) => {
  result.sort((a, b) => +b.data.date - +a.data.date)
  return result.slice(0, 2)
})

const title = "Viet-Hung Nguyen's Blog"
const description =
  "A collection of thoughts about my journey into coding, small web experiments, and other topics about the programming."

const ogImage = new URL("og.png", Astro.site)
---

<BaseLayout>
  <SEO
    slot="seo"
    {title}
    {description}
    openGraph={{
      basic: {
        title,
        image: ogImage.href,
        type: "website",
        url: Astro.site,
      },
    }}
  />
  <section class="container my-8 space-y-4">
    <h1 class="text-2xl font-semibold sm:text-4xl">Welcome to my blog 🎇</h1>
    <p class="[text-wrap:balance]">{description}</p>
    <p>
      This blog is <a
        href={`${GITHUB_LINK}/blog`}
        target="_blank"
        class="link-hover link-primary link after:content-['_↗']">open-sourced</a
      >
    </p>
  </section>
  <div class="container divider p-0"></div>
  <section class="container my-4 flex flex-col gap-8">
    <h2 class="text-2xl font-semibold">Latest post</h2>
    <ul class="space-y-8">
      {posts.map((entry) => <PostEntry {entry} />)}
    </ul>
    <a href="/posts" class="font-bold after:content-['_→'] hover:underline">View all posts</a>
  </section>
</BaseLayout>
