---
import type { CollectionEntry } from 'astro:content';
interface Props {
  entry: CollectionEntry<'posts'>;
}

const entry = Astro.props.entry;
const { title, date, description, tags } = entry.data;

const formatter = new Intl.DateTimeFormat('en', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: 'utc',
});
---

<li class="flex flex-col group relative z-10">
  <a href={`/posts/${entry.slug}`} class="link link-hover hover:link-primary">
    <h3 class="font-semibold text-lg">{title}</h3>
  </a>
  <small class="text-base-content/60">{formatter.format(date)}</small>
  <p>{description}</p>
  {
    tags ? (
      <div class="flex gap-1 mt-2">
        {tags.map((tag) => (
          <div class="badge badge-sm badge-primary">{tag}</div>
        ))}
      </div>
    ) : null
  }
  <div class="absolute -inset-2 rounded-md group-hover:bg-base-content/20 -z-10"></div>
</li>
