---
import type { CollectionEntry } from "astro:content"
interface Props {
  entry: CollectionEntry<"posts">
}

const entry = Astro.props.entry
const { title, date, description, tags } = entry.data
const { remarkPluginFrontmatter } = await entry.render()

const formatter = new Intl.DateTimeFormat("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "utc",
})
---

<li class="group relative z-10 flex flex-col">
  <a href={`/posts/${entry.slug}`} class="link-hover link hover:link-primary">
    <h3 class="text-lg font-semibold">{title}</h3>
  </a>
  <small class="text-base-content/60"
    >{formatter.format(date)} · {remarkPluginFrontmatter.minutesRead}</small
  >
  <p>{description}</p>
  {
    tags ? (
      <div class="mt-2 flex gap-1">
        {tags.map((tag) => (
          <div class="badge badge-primary badge-sm">{tag}</div>
        ))}
      </div>
    ) : null
  }
  <div class="absolute -inset-2 -z-10 rounded-md group-hover:bg-base-content/20"></div>
</li>
