---
import BaseLayout from "@/layouts/BaseLayout.astro"
import type { InferGetStaticParamsType } from "astro"
import { getCollection, getEntry } from "astro:content"
import markdown from "@/components/markdown"
import { SEO } from "astro-seo"

export async function getStaticPaths() {
  const posts = await getCollection("posts")
  return posts.map((post) => ({
    params: { slug: post.slug },
  }))
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>
const { slug } = Astro.params as Params
const post = await getEntry("posts", slug)

const { title, date, description, tags } = post.data
const formattedDate = new Intl.DateTimeFormat("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "utc",
}).format(date)

const { Content, remarkPluginFrontmatter } = await post.render()
const currentLink = new URL(Astro.url.pathname, Astro.site)
const image = new URL("og.png", currentLink).toString()
---

<BaseLayout>
  <Fragment slot="seo">
    <SEO
      {title}
      {description}
      openGraph={{
        basic: {
          title,
          type: "article",
          image,
          url: Astro.site,
        },
        article: {
          publishedTime: formattedDate,
          tags,
        },
      }}
    />
  </Fragment>
  <section class="container mb-8 space-y-4 border-b py-8">
    <h1 class="text-3xl font-semibold">{title}</h1>
    <span>{formattedDate} · {remarkPluginFrontmatter.minutesRead}</span>
    {
      tags ? (
        <ul class="flex gap-2">
          {tags.map((tag) => (
            <li class="badge badge-primary">{tag}</li>
          ))}
        </ul>
      ) : undefined
    }
  </section>
  <article class="container mb-16">
    <Content components={markdown} />
  </article>
</BaseLayout>
